:root {
    --blueDk: #07164d;
    --blueMd: #0031b3;
    --greenDk: #008800;
    --greenLt: #3cf14b;
    --aquaMd: #aefff5;
    --aquaLt: #e5fdff;
}


html, body {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    overflow-x: hidden;
}
body {
    background-color: var(--aquaLt);
    font-family: Helvetica, Arial, sans-serif;
}

svg.defs {position: absolute;}

/* ************************ */
/*  *****   Navbar   *****  */
/* ************************ */

navbar {display: none;}

@media screen and (any-hover: hover) and (min-width: 683px) {
    navbar {
        color: var(--greenDk);
        background-color: var(--aquaMd);
        font-size: 0.7rem;
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    navbar p {
        margin: 0 0.5rem;
        padding: 0.5rem;
        text-wrap: nowrap;
    }
    navbar p:hover {background-color: var(--aquaLt);}
    navbar p.login {color: var(--blueMd);}
    navbar p.login::before {/* put the padlock icon here */}
}


/* ******************************* */
/*  *****   Hamburger menu   *****  */
/* ******************************* */

#hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 3;
    /* height: auto;
    width: auto; */
}

#hamburger img {
    transform: scale(0.8);
    filter: drop-shadow(0 0 1px #000000);
}

@media screen and (any-hover: hover) and (min-width: 683px) {
    #hamburger {display: none;}
}


/* ******************************** */
/*  *****   Landing screen   *****  */
/* ******************************** */

#landing {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#landing-bkgd-container {
    background-image: url(assets/circle-bkgd-narrow.svg);
    width: 100vw;
    height: 80vh;
    position: absolute;
    /* top: 40px; */
    top: 3.2rem;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

/* ~~~ Landing screen - text ~~~ */

#hero-text-logo {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    /* height: max-content; */
}

#logo {
    width: 55vw;
    height: auto;
}

#hero-text {text-wrap: nowrap;}

h1 {
    color: var(--blueMd);
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 0.2rem;
}

h2 {
    color: var(--greenDk);
    font-style: italic;
    margin: 0;
}

#hero-text p {
    color: var(--blueDk);
    font-style: italic;
    margin-top: 3rem;
}

/* ~~~ Landing screen - image ~~~ */

#landing-img div {
    /* holds everything inside the link element: the screenshot, colored background, and text */
    width: 95vw;
    margin: 0 2.5vw;
    position: relative;
}

#landing-img div div {
    /* this is the colored background behind the screenshot */
    position: absolute;
    width: 86%;
    height: 73%;
    margin: 5% 8%;
    background-color: var(--greenLt);
    z-index: -1;
}

#landing-img img {
    width: 100%;
    height: auto;
}

#landing-img p {
    text-transform: uppercase;
    color: var(--blueMd);
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8rem;
    position: absolute;
    top: 0.8rem;
    left: 4.5rem;
}

#landing-img p span {font-size: 1rem;}

#landing-img a {text-decoration: none;}

@media screen and (any-hover: hover) {
    #landing {
        flex-direction: row;
        gap: 10px;

    }
}



/* ************************************ */
/*  *****   "Featured" section   *****  */
/* ************************************ */

#featured {
    height: 100vh;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-family: Arial;
}

.featured-circle {

}

/* ~~~ Featured section: Youth-based marketing ~~~ */

#featured-marketing {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 66.5vw 33.5vw;
    grid-template-rows: auto auto;
}
#featured-marketing img {
    width: 100%;
    height: auto;
}
#f-m-upper-left {
    background-color: var(--greenLt);
    position: relative;
}
/* #f-m-upper-left svg {fill: var(--blueDk);} */
.f-m-upper-left-text {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 0;
}
.f-m-upper-left-text p {
    text-transform: uppercase;
    color: var(--blueMd);
    font-size: 6vw;
    margin: 0;
    margin-right: -5px;
}
.f-m-upper-left-text span:nth-child(1) {font-size: 5vw;}
.triangle {
    height: 0;
    width: 0;
    border-top: 5vw solid transparent;
    border-bottom: 5vw solid transparent;
}
.triangle.clearstack-front {
    border-left: 6vw solid var(--blueMd);
}
.clearstack-front {opacity: 0.5;}
.clearstack-back p {opacity: 1;}
.clearstack-front:hover {
    opacity: 1;
    text-shadow: 2px 2px 4px #00000088;
}

/* ~~~ Featured section: Our approach ~~~ */

#featured-approach {
    position: relative;
}
#featured-approach img {
    width: 100%;
    height: auto;
}

.fa-text {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

.fa-text p {
    text-transform: uppercase;
    color: var(--aquaLt);
    font-size: 4.5vw;
    margin: 0;
    margin-right: 8px;
    font-weight: bold;
}

.fa-text p span {
    font-size: 12vw;
    vertical-align: middle;
    font-weight: normal;
}

.triangle.fa {
    border-left: 6vw solid var(--aquaLt);
}

.triangle.fa.placeholder {
    border-left: 6vw solid transparent;
}


/* ~~~ Featured section: Portfolio ~~~ */

#featured-portfolio {
    width: 100%;
    display: flex;
    align-items: center;
}

#fp-colorblock {
    width: 33%;
    background-color: var(--blueMd);
    height: 100%;
    padding-left: 0.5rem;
    position: relative;
}

#fp-colorblock p {
    display: inline;
    text-transform: uppercase;
    text-align: right;
    color: var(--aquaMd);
    font-size: 0.7rem;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#fp-colorblock span {
    font-size: 1.1rem;
}

#featured-portfolio img {
    width: 67%;
    height: auto;
}

.triangle.fp {
    border-top: 4vw solid transparent;
    border-bottom: 4vw solid transparent;
    border-left: 4vw solid var(--blueMd);
    position: absolute;
    left: 33%;
}

/* ~~~ Featured section: action photos ~~~ */

#featured-photos {
    width: 100%;
    display: flex;
    align-items: center;
}

#fph-colorblock {
    width: 50%;
    background-color: var(--greenDk);
    height: 100%;
    padding-left: 0.5rem;
    position: relative;
}

#fph-colorblock p {
    display: inline;
    text-transform: uppercase;
    color: var(--aquaMd);
    font-size: 0.9rem;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#fph-colorblock span {
    font-size: 1.8rem;
}

#featured-photos img {
    width: 50%;
    height: auto;
}

.triangle.fph {
    border-top: 6vw solid transparent;
    border-bottom: 6vw solid transparent;
    border-left: 6vw solid var(--greenDk);
    position: absolute;
    left: 50%;
}


/* ************************************ */
/*  *****   "Services" section   *****  */
/* ************************************ */

#services {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    border-width: 3px 0;
    border-color: var(--aquaMd);
    border-style: solid;
    box-shadow: 0 0 15px 0 var(--aquaMd);
}

.services-wrapper{
    display: flex;
    flex-direction: row;
    margin: 8vw;
}

.services-wrapper img {
    width: 18vw;
    height: auto;
}

.services-text {}

.services-text h3 {
    color: var(--blueMd);
    margin-left: 7vw;
    text-transform: uppercase;
}

.services-text p {
    display: none;
}

@media screen and (any-hover: hover) {
    #services {
        flex-direction: row;
    }
    .services-wrapper {
        flex-direction: column;
    }
    .services-wrapper img {
        width: 20vw;
        max-width: 100px;
        height: auto;
    }
    .services-text p {
        display: unset;
    }
}



/* ************************************************* */
/*  *****   "Footer" links/contact  section   *****  */
/* ************************************************* */

#links-contact {
    display: flex;
    flex-direction: column-reverse;
}

h4 {
    text-transform: uppercase;
}

/* ~~~  Links  ~~~~ */

#footer-links {
    background-color: var(--greenLt);
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: auto auto;
    padding: 0 5%;
}

#footer-links h4 {
    color: var(--blueMd);
}

#footer-links p {
    color: var(--blueDk);
    text-indent: 1rem;
}

#linksCol2 {display: none;}


/* ~~~  Contact  ~~~ */


#footer-contact {
    background-color: var(--aquaMd);
    margin-top: 3vh;
    padding: 0 5%;
    padding-bottom: 5%;
    color: var(--blueMd);
}    

label {
    display: block;
    margin-bottom: 5%;
}

input {
    display: block;
    width: 98%;
}

input[type="textarea"] {
    height: 8rem;
}

.asterisk {
    color: #D00000;
}

/* ~~~  Media queries  ~~~ */

@media screen and (any-hover: hover) {
    #links-contact {
        flex-direction: row;
    }
    #links-contact > div {
        width: 50vw;
    }
    #linksCol2 {display: unset;}
    #linksCol1 {display: none;}
}



/* ********************************** */
/*  ********      Footer    ********  */
/* ********************************** */

footer {
    background-image: url(assets/circle-bkgd-wide.svg);
    background-size: cover;
    padding-top: 3vh;
}

footer p {
    margin: 0;
    /* font-size: 0.8rem; */
}

footer > div:nth-child(1) {
    background-color: white;
    border-width: 3px 0;
    border-style: solid;
    border-color: var(--aquaMd);
    box-shadow: 0 0 15px 0 var(--aquaMd);
    padding-top: 3%;
    color: var(--greenDk);
    font-weight: bold;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer > div:nth-child(1) > div:nth-child(2) img {
    /* this targets the email icon */
    height: 1.2rem;
    width: auto;
}

footer > div:nth-child(1) > div:nth-last-child(1) img {
    /* this targets the social media icons */
    padding: 0.5rem;
    height: 1.8rem;

}

footer > div:nth-last-child(1) {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}

#email-phone {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}