:root {
    --blueDk: #07164d;
    --blueMd: #0031b3;
    --greenDk: #008800;
    --greenLt: #3cf14b;
    --aquaMd: #aefff5;
    --aquaLt: #e5fdff;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--aquaLt);
    font-family: Helvetica, Arial, sans-serif;
    height: 200vh;
    width: 100%;
    overflow-x: hidden;
}

/*  *****   Navbar   *****  */

navbar {
    color: var(--greenDk);
    background-color: var(--aquaMd);
    font-size: 0.7rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

navbar p {
    margin: 0 0.5rem;
    padding: 0.5rem;
    text-wrap: nowrap;
}

navbar p:hover {
    background-color: var(--aquaLt);
}

navbar p.login {
    color: var(--blueMd);
}

navbar p.login::before {
    /* put the padlock icon here */
}

@media screen and (any-hover: hover) and (max-width: 682px) {
    navbar {
        display: none;
    }
}

/*  *****   Hamburger menu   *****  */

#hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    height: auto;
    width: auto;
}

#hamburger img {
    transform: scale(0.8);
}

@media screen and (any-hover: hover) and (min-width: 683px) {
    #hamburger {
        display: none;
    }
}


/*  *****   Landing screen   *****  */

#landing {
    position: relative;
    top: 25vh;
    left: 10vh;
    display: flex;
    gap: 10px;
}

#hero-text {
    text-wrap: nowrap;
}

h1 {
    color: var(--blueMd);
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: normal;
    margin-bottom: 0.2rem;

}

h2 {
    color: var(--greenDk);
    font-size: 1.7rem;
    font-style: italic;
    line-height: normal;  
    margin: 0;  
}

#hero-text p {
    color: var(--blueDk);
    font-size: 1rem;
    font-style: italic;
    margin-top: 3rem;
}

#landing-img img {
    height: 50vh;
    width: auto;
}

#landing-img p {
    color: var(--greenDk);
    text-transform: uppercase;
    position: relative;
    top: -285px;
    left: 140px;
    text-decoration: underline var(--greenDk);
    /* left: 0; */
}

#landing-img a {
    text-decoration-color: var(--greenDk);
}

