:root {
    --blueDk: #07164d;
    --blueMd: #0031b3;
    --greenDk: #008800;
    --greenLt: #6eef79;
    --aquaMd: #aefff5;
    --aquaLt: #e5fdff;
}

@media (any-hover: none) {
    :root {
        --greenLt: #7df487;
        --aquaMd: #c4fff8;
    }
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--aquaLt);
    font-family: Arial, Helvetica, sans-serif;
}

a {text-decoration: none;}


/* **************************************** */
/*  *****   Navbar & Hamburger menu  *****  */
/* **************************************** */


/* First: mobile, in portrait */

navbar {display: none;}

#hamburger img {
    filter: drop-shadow(0 0 1px #000000);
    width: 5wv;
    height: auto;
}

#menu-wrapper {
    position: fixed;
    top: 3vw;
    right: 3vw;
    z-index: 4;
}    

#menu {
    position: fixed;
    z-index: 5;
    background-color: var(--aquaMd);
    padding: 20px;
    right: -270px;
}    

#menu span {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.5rem;
    color: var(--blueMd);
    margin: 3px;
    padding: 4px 8px;
}

#menu h4, #menu p {
    margin: 0;
    padding: 0.5rem;
}

#menu h4 {color: var(--blueMd);}

#menu p {
    text-indent: 1rem;
    color: var(--blueDk);
}

#menu p:hover, #menu h4:hover, #menu span:hover {    /* use specific selectors so the email-phone div doesn't respond  */
    color: var(--aquaMd);
    background-color: var(--blueDk);
    font-weight: bold;
}

#menu svg {
    fill: none;
    stroke: var(--blueDk);
    padding: 1rem;   
    transform: scale(0.5);
}

#menu svg:hover {
    background-color: var(--blueDk);
    stroke: var(--aquaMd);
}

.email-phone.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0;
    height: 3rem;
    width: max-content;
}

.email-phone.menu p {padding: 1rem;}


/* Mobile, in landscape */

@media (any-hover: none) and (orientation: landscape) {
    #menu-wrapper {
        top: 4.5vh;
        right: 6vh;        
    }
    #hamburger img {
        height: 7vh;
        width: auto;
    }
    #menu p {display: none;}
    #menu div.email-phone.menu p {display: block;}
}

/* Desktop, screen is at least 683px wide, eg. 1366px-wide screen, with window at half width */

@media (any-hover: hover) and (min-width: 683px) {
    #hamburger {display: none;}
    navbar {
        background-color: var(--aquaMd);
        font-size: 0.7rem;
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        z-index: 4;
    }
    navbar p {
        color: var(--greenDk);
        text-transform: uppercase;
        margin: 0 0.5rem;
        padding: 0.5rem;
        text-wrap: nowrap;
    }
    navbar p:hover {background-color: var(--aquaLt);}
    navbar p.login.navbar {color: var(--blueMd);}
    navbar p.login::before {
        content: "";
        display: inline-block;
        background: url('assets/padlock.svg');
        height: 0.7rem;
        width: 0.7rem;
        background-size: 0.65rem;
        background-repeat: no-repeat;
        margin-right: 0.3rem;
    }
}


/* ******************************** */
/*  *****   Landing screen   *****  */
/* ******************************** */


/* First: mobile, in portrait */

#landing {
    height: 100vh;
    min-height: max-content;
}

#landing-bkgd-container {
    background-image: url(assets/circle-bkgd-narrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50vw 50vw;
    transform: rotate(90deg);
    opacity: 0.8;
    width: 90vh;
    height: 100vw;
    position: absolute;
    top: 8.6vh;
    left: 0;
    z-index: -1;
}

#landing > div:nth-child(2) {  /* This targets the container holding the logo, text, and screenshot */
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#hero-text-logo {
    display: flex;
    flex-direction: column;
    margin: 7% auto;
}

#logo {
    width: 55vw; 
    height: auto;
}

#hero-text {
    text-wrap: nowrap;
    padding-top: 5%;
}

h1 {
    color: var(--blueMd);
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 0.2rem;
}

h2 {
    color: var(--greenDk);
    font-style: italic;
    margin: 0;
}

#hero-text p {
    color: var(--blueDk);
    font-style: italic;
    margin: 10vh 0 0 0;
}

#landing-img > a > div {  /* holds everything inside the link element: the screenshot, colored background, and text */
    width: 95vw;
    margin: 0 2.5vw;
    position: relative;
}

#landing-img > a > div > div {  /* this is the colored background behind the screenshot */
    background-color: var(--greenLt);
    width: 86%;
    height: 85%;
    margin: 5% 8%;
    position: absolute;
    z-index: -1;
}

#landing-img img {
    width: 100%; 
    height: auto;
}

#landing-img p {
    text-transform: uppercase;
    color: var(--blueMd);
    font-weight: bold;
    font-size: 85%;
    text-wrap: nowrap;
    margin: 0;
    position: absolute;
    top: 3%;
    right: 52%;
}

#landing-img p span {font-size: 1rem;}


/* Landing section: Mobile, in landscape */

@media (any-hover: none) and (orientation: landscape) {
    #landing > div:nth-child(2) {flex-direction: row;}
    #landing-bkgd-container {
        width: 100vw;
        height: 80vh;
        transform: rotate(0) translateY(5vh);
        /* transform: rotate(0); */
    }
    #hero-text-logo {margin: 5vh 5vw;}
    #hero-text {
        position: relative; 
        top: 0;
    }
    #logo {
        position: absolute;
        top: 3vh;
        right: 14vw;
        width: 50vh;
        height: auto;
    }
    h1 {font-size: 2rem;}
    h2 {font-size: 1.5rem;}
    #hero-text p {font-size: 1rem;}
    #landing-img > a > div {
        width: 40vw;
        position: relative;
        top: 35%;
    }
}


/* Landing section: Desktop */

@media (any-hover: hover) {
    h1 {margin-top: 0;}
}


    /* Desktop: screen width up to 786px */
    
@media (any-hover: hover) and (max-width: 785px) {
    #landing > div:nth-child(2) {
        width: 600px;
        height: 100vh;
        min-height: max-content;
        margin: 0 auto;
    }
    #landing-bkgd-container {
        background-image: url(assets/circle-bkgd-wide.svg);
        background-size: contain;
        transform: rotate(0deg);
        width: 1200px;
        top: 85px;
    }    
    #hero-text-logo {margin: 40px 0 0 80px;}
    #logo {width: 230px;}
    #hero-text {padding-top: 15px;}
    h1 {font-size: 2.1rem;}
    h2 {font-size: 1.3rem;}
    #hero-text p {
        font-size: 0.9rem; 
        margin: 25px 0 0 0;
    }
    #landing-img > a > div {
        width: 550px;
        height: 200px;
        margin: 0 0 0 20px;
    }
    #landing-img > a > div > div {height: 275px;}
    #landing-img p {font-size: 1.1rem;}
}


    /* Desktop: screen width below 460px and below 600px */

    @media (any-hover: hover) and (max-width: 600px) {
        #landing-img > a > div {
            width: 400px;
            height: 200px;
            margin: 37px 0 0 50px;

            /* margin-left: 50px;
            margin-top: 37px; */
        }
        #landing-img p {font-size: 0.9rem;}
        #landing-img > a > div > div {height: 200px;}
    }

    @media (any-hover: hover) and (max-width: 460px) {
        #hero-text-logo {margin: 40px 0 0 20px;}       
        #landing-img > a > div {margin-left: 20px;}   /* holds everything inside the link element: the screenshot, colored background, and text */
    }
    
    
    /* Desktop: screen width between 786px and 1200px */

@media (any-hover: hover) and (min-width: 786px) and (max-width: 1199px){
    #landing {
        height: min-content; 
        margin-bottom: 30px;
    }
    #landing-bkgd-container {
        background-image: url(assets/circle-bkgd-wide.svg);
        background-size: auto 60vh;
        transform: rotate(0deg);
        width: 1200px;
        top: 145px;
    }
    #landing > div:nth-child(2) { /* This targets the container holding the logo, text, and screenshot */
        flex-direction: row;
        gap: 30px; 
        justify-content: center;
    }            
    #hero-text-logo {margin: 65px 0;}
    #logo {width: 200px;}
    #hero-text {padding-top: 35px;}
    h1 {font-size: 2rem;}
    h2 {font-size: 1.3rem;}
    #hero-text p {
        margin: 54px 0 0 0;
        font-size: 0.9rem;
    }
    #landing-img > a > div {   /* holds everything inside the link element: the screenshot, colored background, and text */
        width: 425px;
        height: 362px;
        margin: 0;
        top: 145px;
    }
    #landing-img > a > div > div {  /* this is the colored background behind the screenshot */
        width: 345px;
        height: 215px;
    }
}


    /* Desktop: screen width over 1200px */

@media (any-hover: hover) and (min-width: 1200px){
    #landing {
        height: min-content; 
        margin-bottom: 15px;
        flex-direction: row; 
        gap: 10px;
    }
    #landing-bkgd-container {
        background-image: url(assets/circle-bkgd-wide.svg);
        background-size: auto 60vh;
        background-position: center top;
        transform: rotate(0deg);
        width: 100vw;
        min-width: 1400px;
        top: 145px;
    }
    #landing > div:nth-child(2) {   /* This targets the container holding the logo, text, and screenshot */
        flex-direction: row;
        gap: 75px; 
        justify-content: center;
    }            
    #hero-text-logo {margin: 85px 0;}
    #logo {width: 300px;}
    h1 {font-size: 2.8rem;}
    h2 {font-size: 1.8rem;}
    #hero-text p {
        margin: 54px 0 0 0;
        font-size: 1.2rem;
    }
    #landing-img > a > div {    /* holds everything inside the link element: the screenshot, colored background, and text */
        width: 600px;
        height: 362px;
        margin: 0;
        transform: translateY(-150px);
    }
    #landing-img > a > div > div {    /* this is the colored background behind the screenshot */
        width: 515px;
        height: 295px;
        margin: 0;
        position: relative;
        transform: translateY(330px) translateX(50px);
    }
    #landing-img p {font-size: 1.2rem;}
    #landing-img p span {font-size: 1.5rem;}
    #landing-img img {
        width: 100%; 
        height: auto;
    }
}


/* ************************************ */
/*  *****   "Featured" section   *****  */
/* ************************************ */


/* First: mobile, in portrait */

#featured {
    width: 100vw;
    min-height: max-content;
    display: grid;
    grid-template-columns: 100vw;
    gap: 1vh;
}

.featured-circle {opacity: 0.1;}
.triangle {height: 0; width: 0;}

#f-marketing {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 66.5% 33.5%;
    grid-template-rows: auto auto;
}

#f-marketing > div {position: relative;}

#f-marketing img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s linear;
}

#f-marketing .img-layer-2, #f-marketing .img-layer-3 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#f-marketing div.colorblock {
    background-color: var(--greenLt);
    position: relative;
    overflow: hidden;
}

#f-marketing div.colorblock div.clearstack {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 0;
}

#f-marketing p {
    text-transform: uppercase;
    color: var(--blueMd);
    font-size: 1.23rem;
    margin: 0;
    margin-right: 2vw;
}

#f-marketing p span {font-size: 1.5rem}

#f-marketing div.in-triangle {
    border-left: 6vw solid var(--blueMd);
    border-top: 5vw solid transparent;
    border-bottom: 5vw solid transparent;
    margin-right: 2vw;
    opacity: 0.4;
}

#f-marketing div.colorblock svg {
    height: 158%;
    width: auto;
    position: absolute;
    top: 5%;
    left: 24%;
    stroke: var(--blueMd);
    z-index: 0;
}

#f-marketing:hover .colorblock .clearstack p {text-shadow: 3px 3px 3px var(--blueDk);}
#f-marketing:hover .colorblock .clearstack .in-triangle {opacity: 0.8;}
#f-marketing:hover .colorblock .featured-circle {opacity: 0.18;}
#f-marketing:hover img {filter: brightness(150%) contrast(75%);}

#f-approach {position: relative;}

#f-approach img {
    width: 100%;
    height: auto;
}

#f-approach div.clearstack {
    position: absolute;
    top: 0;
    right: 0.5rem;
    display: flex;
    align-items: center;
    z-index: 2;
}

#f-approach p {
    text-transform: uppercase;
    color: var(--aquaLt);
    font-size: 1.2rem;
    margin: 0;
    margin-right: 8px;
    font-weight: bold;
}

#f-approach p span {
    font-size: 2.8rem;
    vertical-align: middle;
    font-weight: normal;
}

#f-approach div.in-triangle {
    border-left: 6vw solid var(--aquaLt);
    border-top: 5vw solid transparent;
    border-bottom: 5vw solid transparent;
    opacity: 0.5;
}

#f-approach:hover img {filter: brightness(150%) contrast(75%);}
#f-approach:hover .clearstack p span {text-shadow: 3px 3px 4px var(--blueDk);}
#f-approach:hover .clearstack .in-triangle {opacity: 1;}

#f-portfolio {
    display: flex; 
    margin-bottom: 0.5vh;
    align-items: center;
}

#f-portfolio div.colorblock {
    width: 33%;
    background-color: var(--blueMd);
    height: 33vw;
    position: relative;
    top: 0;
    left: 0;
}

#f-portfolio p {
    text-transform: uppercase;
    text-align: right;
    color: var(--aquaMd);
    font-size: 0.7rem;
    display: inline;
    margin: 0;
    padding-left: 0.5rem;
    position: absolute;     /* relative to div.colorblock */
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#f-portfolio span {font-size: 1.1rem;}

#f-portfolio img {
    width: 67%;
    height: auto;
}

#f-portfolio div.clearstack {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;   
}

#f-portfolio > div.colorblock > div.clearstack > div {
    width: 100%;
    height: 100%;
    overflow: hidden;   
}

#f-portfolio div.colorblock::after {
    content: "";
    position: absolute;
    top: calc(50% - 4vw);
    right: -3.9vw;
    height: 0;
    width: 0;
    border-top: 4vw solid transparent;
    border-bottom: 4vw solid transparent;
    border-left: 4vw solid var(--blueMd);
    z-index: 3;
}

#f-portfolio svg {
    position: absolute;   /* relative to div.colorblock */
    top: 25%;
    left: -25%;
    height: 100%;
    width: auto;
}

#f-portfolio circle.stroke {stroke: #000000; fill: none;}
#f-portfolio circle.fill {fill: #000000; stroke: none;}

#f-portfolio:hover .colorblock .clearstack p {text-shadow: 4px 4px 4px #000000;}
#f-portfolio:hover .colorblock .clearstack svg {opacity: 0.2;}
#f-portfolio:hover img {filter: contrast(50%) brightness(150%);}

#f-photos {
    display: flex;
    align-items: center;
}

#f-photos div.colorblock {
    width: 50%;
    background-color: var(--greenDk);
    height: 50vw;
    position: relative;
}

#f-photos p {
    display: inline;
    text-transform: uppercase;
    color: var(--aquaMd);
    text-align: left;
    font-size: 0.9rem;
    margin: 0;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#f-photos span {font-size: 1.8rem;}

#f-photos img {
    width: 50%;
    height: auto;
}

#f-photos div.colorblock div.clearstack {
    width: 100%;
    height: 100%;
    overflow: hidden;   
    position: relative;
}

#f-photos div.colorblock::after {
    content: "";
    position: absolute;
    top: calc(50% - 6vw);
    right: -5.9vw;
    height: 0;
    width: 0;
    border-top: 6vw solid transparent;
    border-bottom: 6vw solid transparent;
    border-left: 6vw solid var(--greenDk);
    z-index: 3;
}

#f-photos svg {
    position: absolute;   /* relative to div.colorblock */
    top: 15%;
    right: -30%;
    height: 120%;
    width: auto;
}

#f-photos circle.stroke {stroke: var(--blueDk); fill: none;}
#f-photos circle.fill {fill: var(--blueDk); stroke: none;}

#f-photos:hover .colorblock .clearstack p {text-shadow: 3px 3px 4px #000000;}
#f-photos:hover .colorblock .clearstack svg {opacity: 0.2;}
#f-photos:hover img {filter: contrast(50%) brightness(150%);}


/* Mobile, in landscape */

@media (any-hover: none) and (orientation: landscape) {
    #featured {grid-template-columns: 60vw 40vw;}
    #f-marketing div.in-triangle {
        border-left-width: 6vh;
        border-top-width: 5vh;
        border-bottom-width: 5vh;
    }
    #f-approach p {font-size: 4vh;}
    #f-approach p span {font-size: 9vh;}
    #f-approach div.in-triangle {
        border-left-width: 5vh;
        border-top-width: 4vh;
        border-bottom-width: 4vh;
    }
    #f-portfolio div.colorblock {height: 19.8vw};
    #f-portfolio div.colorblock::after {
        top: calc(50% - 2.5vw);
        right: -2.4vw;
        border-top: 2.5vw solid transparent;
        border-bottom: 2.5vw solid transparent;
        border-left: 2.5vw solid var(--blueMd);       
    }
    #f-photos div.colorblock {height: 20vw;}
    #f-photos div.colorblock::after {
        top: calc(50% - 3vw);
        right: -2.9vw;
        border-top-width: 3vw;
        border-bottom-width: 3vw;
        border-left-width: 3vw;
    } 
}


/* Desktop */

    /* Desktop: any screen width */

@media (any-hover: hover) {
    #featured {
        padding-bottom: 30px;
        margin: 0 auto;
    }
    #f-marketing div.in-triangle {
        border-left-width: 35px;
        border-top-width: 30px;
        border-bottom-width: 30px;
        margin-right: 20px;
        opacity: 0.4;
    }

    #f-marketing p {
        font-size: 1.64rem;
        margin-right: 20px;
    }
    #f-marketing p span {
        font-size: 2rem;
        margin-right: 20px;
    }
    
    #f-approach p {
        text-align: right;
        font-weight: normal;
    }
}


    /* Desktop: screen width up to 800px */

@media (any-hover: hover) and (max-width: 799px){
    #featured {
        width: 500px;
        grid-template-columns: 100%;
        gap: 20px;
    }
    #f-approach p {
        font-size: 1.4rem;
        padding-right: 8px;
    }
    #f-approach p span {font-size: 3.6rem;}    
    #f-approach div.in-triangle {
        border-left-width: 30px;
        border-top-width: 25px;
        border-bottom-width: 25px;
    }    
    #f-portfolio p {font-size: 1rem;}    
    #f-portfolio span {font-size: 1.5rem;}
    #f-portfolio div.colorblock {height: 167px;}
    #f-portfolio div.colorblock::after {
        top: calc(50% - 20px);
        right: -20px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid var(--blueMd);
    }
    #f-photos p {font-size: 1.3rem;}
    #f-photos span {font-size: 2.6rem;}
    #f-photos div.colorblock {height: 253px;}
    #f-photos div.colorblock::after {
        top: calc(50% - 38px);
        right: -38px;
        border-top-width: 38px;
        border-bottom-width: 38px;
        border-left-width: 38px;
    }
}


    /* Desktop: screen width 800px to 1200px */

@media (any-hover: hover) and (min-width: 800px){
    #featured {
        width: 800px;
        grid-template-columns: 60% 40%;
        gap: 10px;
    }
    #f-approach p {
        font-size: 1rem;
        padding-right: 4px;
    }
    #f-approach p span {font-size: 2.25rem;}    
    #f-approach div.in-triangle {
        border-left-width: 20px;
        border-top-width: 15px;
        border-bottom-width: 15px;
    }    
    #f-portfolio p {font-size: 0.9rem;}    
    #f-portfolio span {font-size: 1.4rem;}
    #f-portfolio div.colorblock {height: 160px;}
    #f-portfolio div.colorblock::after {
        top: calc(50% - 20px);
        right: -20px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid var(--blueMd);
    }
    #f-photos p {font-size: 0.8rem;}
    #f-photos span {font-size: 1.7rem;}
    #f-photos div.colorblock {height: 162px;}
    #f-photos div.colorblock::after {
        top: calc(50% - 25px);
        right: -25px;
        border-top-width: 25px;
        border-bottom-width: 25px;
        border-left-width: 25px;
    }
}


/* Desktop: screen width over 1200px */

@media (any-hover: hover) and (min-width: 1200px){
    #featured {width: 1000px;}
    #f-approach p {font-size: 1.2rem;}
    #f-approach p span {font-size: 2.85rem;}    
    #f-approach div.in-triangle {
        border-left-width: 25px;
        border-top-width: 20px;
        border-bottom-width: 20px;
    }    
    #f-portfolio p {font-size: 1.2rem;}    
    #f-portfolio span {font-size: 1.8rem;}
    #f-portfolio div.colorblock {height: 200px;}
    #f-portfolio div.colorblock::after {
        top: calc(50% - 25px);
        right: -25px;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid var(--blueMd);
    }
    #f-photos p {font-size: 1rem;}
    #f-photos span {font-size: 2rem;}
    #f-photos div.colorblock {height: 202px;}
    #f-photos div.colorblock::after {
        top: calc(50% - 28px);
        right: -28px;
        border-top-width: 28px;
        border-bottom-width: 28px;
        border-left-width: 28px;
    }
}


/* ************************************ */
/*  *****   "Services" section   *****  */
/* ************************************ */


/* First: mobile, in portrait */

#services {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 3vh 0;
    border-width: 3px 0;
    border-color: var(--aquaMd);
    border-style: solid;
}

.services-wrapper{
    display: flex;
    flex-direction: row;
    margin: 8vw;
}

.services-wrapper img {
    width: 18vw;
    height: auto;
}

.services-text h3 {
    color: var(--blueMd);
    margin-left: 7vw;
    text-transform: uppercase;
}

.services-text p {
    display: none;
    color: var(--blueDk);    
}


/* Mobile, in landscape orientation */

@media (any-hover: none) and (orientation: landscape) {
    #services {
        flex-direction: row;
        padding: 5vw 2vw;
    }
    .services-wrapper {
        flex-direction: column;
        margin: 1vw;
        align-items: center;
        width: 22vw;
    }
    .services-wrapper img {
        width: 9vw;
        height: auto;
        padding: 2vw;
    }
    .services-text h3 {
        font-size: 1rem;
        text-align: center;
        margin-left: unset;
        font-weight: light;
        margin-bottom: 0;
    }
    .services-text p {
        display: block;
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}


/* Desktop */

    /* Desktop: any screen width */

@media (any-hover: hover) {
    .services-text h3 {
        font-size: 1rem;
        text-align: center;
        margin: 0;
    }
    .services-text p {
        display: block;
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    .services-wrapper {
        margin: 0;
        align-items: center;
    }
}


    /* Desktop: screen width up to 786px */

@media (any-hover: hover) and (max-width: 785px){
    #services {align-items: center;}
    .services-wrapper {
        width: 400px;
        padding: 10px 0;
    }
    .services-wrapper img {
        width: 100px;
        height: 100px;
        padding: 20px;
    }
    .services-text {padding: 20px;}
}


    /* Desktop: screen width over 786px */

@media (any-hover: hover) and (min-width: 786px){
    #services {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }
    .services-wrapper {
        width: 162px;
        flex-direction: column;
    }
    .services-wrapper img {
        width: 80px;
        height: auto;
        padding: 40px;
    }
}


/* ************************************************* */
/*  *****   "Footer" links/contact  section   *****  */
/* ************************************************* */


/* First: mobile, in portrait */

#links-contact {
    display: flex;
    flex-direction: column-reverse;
}

#links-contact h4 {text-transform: uppercase;}

#footer-links {
    background-color: var(--greenLt);
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: max-content max-content;
    gap: 5%;
    padding: 2% 2% 5% 0;
    justify-content: center;
}

#footer-links h4 {color: var(--blueMd);}

#footer-links p {
    color: var(--blueDk);
    text-indent: 1rem;
}

#linksColB {display: none;}

#footer-contact {
    background-color: var(--aquaMd);
    padding-bottom: 5%;
    color: var(--blueMd);
}    

#footer-contact form {padding: 0 5%;}

label {
    display: block;
    margin-bottom: 5%;
}

input {
    display: block;
    width: 98%;
}

input[type="textarea"] {height: 8rem;}
.asterisk {color: #D00000;}


/* Mobile, in landscape */

@media (any-hover: none) and (orientation: landscape) {
    #links-contact {flex-direction: row;}
    #links-contact > div {width: 50vw;}
    #footer-links {padding: 2% 2% 5% 0; gap: 10%;}
    #footer-links h4 {font-size: 0.8rem;}
    #footer-links p {
        font-size: 1rem;
        text-indent: 1rem;
    }
    #footer-contact {padding: 0 2vw;}
    #footer-contact h4 {font-size: 0.8rem;}
    label {font-size: 0.8rem;}
    .form-flex {
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }
    input[type="textarea"] {height: 5rem;}
}


/* Desktop */

    /* Desktop: screen widths between 650px and 1000px */

@media (any-hover: hover) and (min-width: 650px) {
    #links-contact {flex-direction: row;}
    #links-contact > div {width: 50vw;}
    #footer-links {padding: 10px 0 0 0;}
    #footer-contact {padding-bottom: 0;}
}


    /* Desktop: any screen width up to 1000px */

@media (any-hover: hover) and (max-width: 999px) {
    #footer-links {gap: calc(50% - 150px);}
}


    /* Desktop: screen widths above 1000px */

@media (any-hover: hover) and (min-width: 1000px) {
    #footer-links {gap: calc(33% - 150px);}
    #linksColB {display: unset;}
    #linksColA {display: none;}   
    .form-flex {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 98%;
    }
    .form-flex label {width: 100%;}
}


/* ********************************** */
/*  ********      Footer    ********  */
/* ********************************** */


/* First: mobile, in portrait */

footer {
    background-image: url(assets/circle-bkgd-wide.svg);
    background-size: cover;
    padding-top: 3vh;
}

footer p {margin: 0;}

footer > div:nth-child(1) {
    background-color: white;
    border-width: 3px 0;
    border-style: solid;
    border-color: var(--aquaMd);
    padding: 3% 0;
    color: var(--greenDk);
    font-weight: bold;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer > div:nth-child(1) > div:nth-child(3) img {    /* this targets the email icon */
    height: 1.2rem;
    width: auto;
}

footer > div:nth-child(1) > div:nth-child(1) img {   /* this targets the social media icons */
    padding: 0.5rem;
    height: 1.8rem;
}

.email-phone.footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.email-phone.footer a {color: var(--greenDk);}

footer > div:nth-last-child(1) {   /* this targets the disclaimer section */
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}


/* Mobile, in landscape */

@media (any-hover: none) and (orientation: landscape) {
    footer > div:nth-child(1) {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1vw;
    }
}


/* Desktop: only affects screen widths above 700px */

@media (any-hover: hover) and (min-width: 700px) {
    footer > div:nth-child(1) {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1vw;
    }
}