#menu {
    position: fixed;
    z-index: 4;
    background-color: var(--aquaMd);
    padding: 20px;
    right: -270px;
}

@keyframes dimFilter {
    0% {filter: brightness(1);}
    100% {filter: brightness(0.6);}
}

@keyframes dimBkgdColor {
    0% {background-color: var(--aquaLt);}
    100% {background-color: #6ecacf;}
}

@keyframes brightenFilter {
    0% {filter: brightness(0.6);}
    100% {filter: brightness(1);}
}

@keyframes brightenBkgdColor {
    0% {background-color: #6ecacf;}
    100% {background-color: var(--aquaLt);}
}

#menu span {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.5rem;
    color: var(--blueMd);
    margin: 3px;
    padding: 4px 8px;
}

#menu h4, #menu p {
    margin: 0;
    padding: 0.5rem;
}

#menu h4 {
    color: var(--blueMd);
}

#menu p {
    text-indent: 1rem;
    color: var(--blueDk);
}

#menu p:hover, #menu h4:hover, #menu span:hover {
    /* use specific selectors so the email-phone div doesn't respond  */
    color: var(--aquaMd);
    background-color: var(--blueDk);
    font-weight: bold;
}

/* 
Optional: make the "client login" a different color like in the navbar
#menu h4.login.menu {
    color: var(--greenDk);
}
#menu h4.login.menu:hover {
    color: var(--greenLt);
    background-color: var(--greenDk);
} */

#menu svg {
    fill: none;
    stroke: var(--blueDk);
    padding: 1rem;   
    transform: scale(0.5);
}

#menu svg:hover {
    background-color: var(--blueDk);
    stroke: var(--aquaMd);
}

.email-phone.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0;
    height: 3rem;
    width: max-content;
}

.email-phone.menu p {
    padding: 1rem;
}
